<div class="container-resultado">

  <div class="box-resultado">
    <div class="label">Iof Valor:</div>
    <div class="resultado" *ngIf="resultado!=undefined">{{resultado.iofValor}}</div>
  </div>
  <div class="box-resultado">
    <div class="label">Imposto Estado:</div>
    <div class="resultado" *ngIf="resultado!=undefined">{{resultado.impostoEstado}}</div>
  </div>
  <div class="box-resultado">
    <div class="label">Dólar com Imposto:</div>
    <div class="resultado" *ngIf="resultado!=undefined">{{resultado.dolarComImposto}}</div>
  </div>
  <div class="box-resultado">
    <div class="label">Dólar sem Imposto:</div>
    <div class="resultado" *ngIf="resultado!=undefined">{{resultado.dolarSemImposto}}</div>
  </div>
  <div class="box-resultado">
    <div class="label">Real sem Imposto:</div>
    <div class="resultado" *ngIf="resultado!=undefined">{{resultado.realSemImposto}}</div>
  </div>
  <div class="box-resultado">
    <div class="label">Real com Imposto:</div>
    <div class="resultado" *ngIf="resultado!=undefined">{{resultado.realComImposto}}</div>
  </div>

</div>
