$ccor_principal: #2de1c2;
$cor_destaque: #ff6b6b;
$cor_texto: #fff;

.container-resultado {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.box-resultado {
  margin: 0px 10px 10px;
  width: 200px;
  height: 80px;
  background-color: $ccor_principal;
  align-items: center;

  .label {
    background-color: $cor_destaque;
    font-size: 9px;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    color: $cor_texto;
  }

  .resultado {
    font-size: 9px;
    width: fit-content;
    color: $cor_texto;
    display: flex;
    font-size: 14px;
    margin: auto;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    align-self:center;
    // background-color: #ffe66d;
  }
}
