<div class="container-cotacao-dia" *ngIf="resultado!=undefined">

  <div class="cotacao-dia-label">Iof Valor: {{resultado.iofValor}} </div>
  <div class="cotacao-dia-label">Imposto Estado: {{resultado.impostoEstado}} </div>

  <div class="cotacao-dia-label">Dolar com Imposto: {{resultado.dolarComImposto}} </div>
  <div class="cotacao-dia-label">Dolar sem Imposto: {{resultado.dolarSemImposto}} </div>
  <div class="cotacao-dia-label">Real sem Imposto: {{resultado.realSemImposto}} </div>
  <div class="cotacao-dia-label">Real com Imposto: {{resultado.realComImposto}} </div>


</div>
