*{
  margin:0px;
  padding: 0px;
}
.container-app-conversao{
  background-color: #7A7373;
  // transform: rotateX(50);
  width: 100%;
  min-height:400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
