<div class="container-cotacao-dia" [formGroup]="cotacaoForm">
  <div class="valor-dolar">
    <div class="label-valor">
      <label for="valorConverter">Digite o valor em Dólar:</label>
    </div>
    <div class="input-valor">
      <input type="text" class="input-valores" id="valorConversao" (click)="calcularResultado()"
        formControlName="valorConversao" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" />
    </div>
  </div>
  <div class="valor-imposto-estado">
    <div class="label-valor">
      <label for="valorInposto">Taxa do estado:</label>
    </div>
    <div class="input-valor">
      <input type="text" class="input-valores" name="valorInposto" (click)="calcularResultado()" id="valorTaxa"
        formControlName="valorTaxa" currencyMask [options]="{ suffix: '% ', thousands: '.', decimal: ',',prefix:'' }" />
    </div>
  </div>

  <div class="inputs-tipo-pagamento"   (click)="calcularResultado()">
    <div class="inputs-tipo-pagamento-item">
      <input type="radio" name="pagamento" value="dinheiro" formControlName="pagamento"
        id="dinheiro"/>
      <label for="dinheiro" class="label-radio" (click)="setRadio('dinheiro')">Dinheiro</label>
    </div>
    <div class="inputs-tipo-pagamento-item">
    <input type="radio" name="pagamento" formControlName="pagamento" value="cartao"
        id="cartao">
      <label for="cartao" class="label-radio"  (click)="setRadio('cartao')">Cartão</label></div>
  </div>
</div>
